name: Parallel Deployment

on:
  push:
    branches:
      - main

jobs:
  fetch-runners:
    runs-on: ubuntu-latest

    outputs:
      runner_labels: ${{ steps.set-output.outputs.runner_labels }}

    steps:
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Fetch all self-hosted runners
        id: set-output
        run: |
          TOKEN="${{ secrets.PAT }}"
          REPO="${{ github.repository }}"
          API_URL="https://api.github.com/repos/${REPO}/actions/runners"

          echo "Fetching runners for repository: $REPO"
          echo "GitHub API URL: $API_URL"

          RUNNERS=$(curl -s -X GET -H "Authorization: Bearer ${TOKEN}" "${API_URL}")
          echo "Fetched runners information: $RUNNERS"

          RUNNER_LABELS=$(echo "${RUNNERS}" | jq -r '.runners[] | select(.status == "online") | .labels[] | select(.name | startswith("ip_")) | .name')
          echo "Runner labels: $RUNNER_LABELS"

          echo "::set-output name=runner_labels::${RUNNER_LABELS}"

  deploy:
    needs: fetch-runners
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Read runner labels
        run: |
          RUNNER_LABELS="${{ needs.fetch-runners.outputs.runner_labels }}"
          echo "Runner labels: $RUNNER_LABELS"

      - name: Deploy code on runners
        run: |
          for label in $RUNNER_LABELS; do
            echo "Running deployment on runner $label"
            cd /home/bitnami/htdocs/php-gh-ci-cd
            git pull origin main
            echo "Deployment success"
          done
